.section1-container{
    width: 100%;
    height: 100%;
}

.stacking-contents{
    position: relative;
    height: 550px;
}

.images-holder, .images{
    position: absolute;
    width: 100%;
    height: 100%;
}

.images-holder img{
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.6;
}

.center-info-holder{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-info{
    height: 500px;
    width: 850px;
}

.welcome-banner{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.welcome-banner p{
    margin-top: 20%;
    font-size: 24px;
}


.info-bar-holder{
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-bar-cover{
    margin-bottom: 50px;
}

.titles {
    display: flex;
}

.titles p{
    margin: 0 0 0 15px;
    font-size: 14px;
}

.titles .country-title{
    width:200px;
    margin-left: 15px;
    display:flex;
}

.titles .arrival-title{
    width:200px;
    margin-left: 10px;
    display:flex;
}

.titles .departure-title{
    width:200px;
    display:flex;
}

.titles .travelers-title{
    width:200px;
    margin-left: 10px;
    display:flex;
}

.info-bar{
    width: 100%;
    height: 60px;
    background-color: rgba(192, 199, 199, 0.795);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.select-country-holder{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.select-country-dropdown{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.select-country-dropdown .fa-map-marker-alt{
    margin-right: 10px;
}

.select-country-dropdown .fa-caret-down{
    margin-left: 10px;
}

.select-country-dropdown:hover{
    background-color: lightgrey;
}

.country-dropdown-content{
    display: none;
    position: absolute;
    width: 200px;
    max-height: 260px;
    background-color: white;
    margin-top: 40px;
    /* margin-left: 57px; */
    border-radius: 10px;
    overflow-y: auto;
}

.country-dropdown-content .content-holder{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
}

.country-dropdown-content .content-holder a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;

}

.country-dropdown-content .content-holder a:hover{
    background-color: lightgrey;
}

.intro-ad-holder{
    width: 100%;
    height: calc(100% - 50px - 550px);
    background-color: red;
}

.select-arrival-departure-date-holder{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 400px;
    margin-left: 10px;
    border-radius: 10px;
}

.select-arrival-departure-date-holder .fa-calendar-alt{
    margin-right: 15px;
}

.arrival-date-holder{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.arrival-date-dropdown{
    height: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
.arrival-keep-active{
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 40px;
    border-radius: 10px;
    z-index: 11;
}

.arrival-dropdown-content{
    display: none;
    position: absolute;
    width: 400px;
    height: 260px;
    background-color: linen;
    margin-top: 40px;
    border-radius: 10px;
    overflow-y: auto;
}

.arrival-dropdown-content .content-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}


.arrival-dropdown-content .current-month{
    width:50%;
    height:100%;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.nav-btn-holder{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-divider{
    height: 90%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.calendar-divider .my-inform{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-divider p{
    margin: 0; 
}

.calendar-divider .md-show{
    height: 80%;
    display: flex;
    justify-content: center;
}

.arrival-dropdown-content .current-month table{
    width: 100%;
    padding-right: 5px;
}

.arrival-dropdown-content .next-month{
    width:50%;
    height:100%;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.arrival-dropdown-content .next-month table{
    width: 100%;
    padding-left: 5px;
}

.breadcrumb{
    border-left: 2px solid lightgray;
    margin: 5px auto;
}

.departure-date-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.departure-date-dropdown{
    height: 40px;
    width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.departure-dropdown-content{
    display: none;
    position: absolute;
    width: 400px;
    height: 260px;
    background-color: linen;
    margin-top: 40px;
    border-radius: 10px;
    overflow-y: auto;
}

.departure-dropdown-content .content-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.departure-dropdown-content .current-month{
    width:50%;
    height:100%;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.departure-dropdown-content .current-month table{
    width: 100%;
    padding-right: 5px;
}

.departure-dropdown-content .next-month{
    width:50%;
    height:100%;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.departure-dropdown-content .next-month table{
    width: 100%;
    padding-left: 5px;
}


.number-guests-holder{
    margin-left: 10px;
}

.number-guests{
    width: 200px;
    background-color: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-guests .fa-users{
    margin: 10px;
}

.number-guests input{
    height: 100%;
    border: 0px;
    border-radius: 0 10px 10px 0;
}

.number-guests input:focus{
    outline: none;
}

.image-nav-bttn-holder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-nav-bttn-holder .sweden-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.image-nav-bttn-holder .denmark-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}


.image-nav-bttn-holder .finland-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}


.image-nav-bttn-holder .norway-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}


.non-active-img-nav-bttn{
    background-color: rgb(37, 36, 36, 0.7);
}

.active-img-nav-bttn{
    background-color: rgba(212, 37, 75, 0.7);
}

.show {
    display: block;
}

.active{
    background-color: lightgrey;
}