.info-bar-holder{
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-bar-cover{
    margin-bottom: 50px;
}


.discover-bttn{
    margin-top:20px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: rgb(243, 45, 19);
    color: white;
    cursor: pointer;
}

.discover-bttn:focus{
    outline: none
}