@media only screen and (max-width: 600px){
    .top-nav .right-section{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-nav .right-section{
        width: 70%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }

    .home-selection-holder{
        padding: 5px;
    }

    .home-selection-holder .fa-home{
        margin-right: 5px;
        color:white;
    }


    .services-selection-holder{
        padding: 5px;
    }
    
    .services-selection-holder .fa-bicycle{
        margin-right: 5px;
        color:white;
    }

    .my-package-selection-holder{
        padding: 5px;
    }
    
    .my-package-selection-holder .fa-shopping-cart{
        margin-right: 5px;
        color:white;
    }

    .currency-selection-holder{
        padding: 5px;
        margin-right: 20px;
    }
    
    .currency-selection-display{
        background-color: transparent;
        color: white;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-selection-holder{
        padding: 30px;
    }

    .services-selection-holder{
        padding: 30px;
    }
    
    .my-package-selection-holder{
        padding: 30px;
    }

    .currency-selection-holder{
        padding: 30px;
        margin-right: 50px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.header{
    height: 50px;
}

/* top-nav classes */
.top-nav{
    background-color: rgb(105,105,105);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.top-nav a{
    text-decoration: none;
    color: white;   
}

/* end of top-nav classes */


/* logo-brand classes */
.logo-brand-holder {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.brand-display{
    font-size: 24px;
    margin-left: 50px; 
}
/* end of logo-brand classes */


/* right-section classes */

/* end of right-section classes */

.currency-selection-display option{
    background-color: rgb(105,105,105)
}

